<!-- snippets/search-bar.liquid -->

{% comment %}
	Optional:
		id_suffix {String} Optional suffix to add to ID. Required if this snippet occurs more than once on a page.
		label {String} Search label
{% endcomment %}

{%- liquid 
	assign id = 'searchBar' | append: id_suffix
	assign label = label | default: "Search the site"
	assign placeholder = placeholder | default: "Search"
-%}

<form method="get" action="{{ routes.search_url }}">
    <input type="hidden" name="type" value="product" />

    <div class="input-group input-line">
        <label for="{{ id }}">{{ label }}</label>
		<input type="search" id="{{ id }}" name="q" placeholder="{{ placeholder }}" />
        <button class="btn btn--primary" type="submit">Search</button>
    </div>
</form> 