<!doctype html>
<html class="no-js js-loading" lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		<title>
			{{ shop.name }}
		</title>

		{%- assign meta_page_description = page_description | default: shop.description | default: shop.name -%}
		<meta name="description" content="{{ meta_page_description | escape }}">

		{% comment %}
			Meta Tags for SEO
		{% endcomment %}

		{% render 'theme-meta-tags' %}

		{%- if settings.favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
		{%- endif -%}

		{% comment %}
			Theme Font Stylesheet Links (Normally Google Fonts)
			Remove if the site does not need :)
		{% endcomment %}

		{% render 'theme-font-links' %}

		{% comment %}
			Main JS and CSS
		{% endcomment %}

		{% render 'theme-main-assets' %}

		{% comment %}
			Template-specific assets

			Note: This snippet pre-loads template-specific
				  assets based on template name. Styles and
				  scripts here should only be for above-the-fold content.
		{% endcomment %}

		{% render 'theme-template-specific-assets' %}

		<!-- begin content_for_header -->
		{{ content_for_header }}
		<!-- end content_for_header -->

		{% comment %}
			Site Schema (JSON-LD format)
		{% endcomment %}

		{% render 'theme-schema-header' %}
	</head>

	 <body> 
		<main id="MainContent" role="main" tabindex="-1">
			{{ content_for_layout }}
		</main>
	</body>
</html>
