<!-- sections/gift-card.liquid -->

{{ 'section-gift-card.min.css' | asset_url | stylesheet_tag }}

<section class="gift-card" id="GiftCard">
    <header class="gift-card__title">
        {% comment %}
            Logo or store name
        {% endcomment %}
        {%- if settings.logo_url != blank -%}
            <a class="gift-card__logo" href="{{ routes.root_url }}"
                title="{{ shop.name }} logo">
                {% render "logo" %}
            </a>
        {%- else -%}
            <span class="gift-card__shop-name">{{ shop.name }}</span>
        {%- endif -%}

        <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
        <div class="gift-card__price">
            <p>
                {% if settings.currency_code_enabled %}
                    {{ gift_card.initial_value | money_with_currency }}
                {% else %}
                    {{ gift_card.initial_value | money }}
                {% endif %}
            </p>
            {%- if gift_card.enabled == false or gift_card.expired -%}
                <p class="gift-card__label badge badge--{{ settings.badge_sold_out_color_scheme }}">{{ 'gift_cards.issued.expired' | t }}</p>
            {%- endif -%}
        </div>

        {% if settings.currency_code_enabled %}
            {%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
        {% else %}
            {%- assign gift_card_balance = gift_card.balance | money -%}
        {% endif %}
        {%- if gift_card.balance != gift_card.initial_value -%}
            <p class="gift-card__label caption-large">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
        {%- endif -%}
    </header>

    <main>
        <div class="container">
            <div class="gift-card__image-wrapper">
                <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
            </div>
            <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
            <div class="gift-card__information">
                <input
                    type="text"
                    class="gift-card__number"
                    value="{{ gift_card.code | format_code }}"
                    aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
                    readonly
                >
                <div class="gift-card__copy-code">
                    <button class="link gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
                    <span class="gift-card__copy-success form__message" role="status"></span>
                    <template>
                        {%- render 'icon-success' -%}{{ 'gift_cards.issued.copy_code_success' | t }}
                    </template>
                </div>
                {%- if gift_card.pass_url -%}
                    <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
                        <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
                    </a>
                {%- endif -%}
                <div class="gift-card__buttons no-print">
                    <a
                        href="{{ shop.url }}"
                        class="btn btn--primary"
                        target="_blank"
                        rel="noopener"
                        aria-describedby="a11y-new-window-message"
                    >
                        {{ 'gift_cards.issued.shop_link' | t }}
                    </a>
                    <button
                        class="btn btn--hollow"
                        onclick="window.print();"
                    >
                        {{ 'gift_cards.issued.print_gift_card' | t }}
                    </button>
                </div>
            </div>
        </div>
    </main>
</section>

<div class="sr-only">
    <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
</div>