<!-- sections/password.liquid -->

{% comment %}
    Initial Liquid Variables
{% endcomment %}

{% liquid 
	assign data = section.settings
	assign image_desktop = data.image_desktop
	assign image_mobile = data.image_mobile
%}

{% comment %}
    Section Markup
{% endcomment %}

<div class="password__image">

	{% if image_desktop != blank and image_mobile != blank %}
		{% render 'image-switchable-square', image: image_mobile, image_large: image_desktop, load: 'eager', initial_size: '(min-width:66em) 58vw, (min-width:52em) 50vw, 100vw', class: 'media-cover' %}
	{% elsif image_mobile != blank %}
		{% render 'image-square', image: image_mobile, load: 'eager', initial_size: '(min-width:66em) 58vw, (min-width:52em) 50vw, 100vw', class: 'media-cover' %}
	{% endif %}
</div>
	
<div class="password__content">
	<div>
		<h1 class="password__title">
			{{ data.title }}
		</h1>

		{{ data.description }}
	</div>

	{% comment %}
		Login Form
	{% endcomment %}

	{%- form 'storefront_password', class: 'password__form' -%}

		{% comment %}
			Error Message
		{% endcomment %}

		{% if form.errors %} 
			{% render 'form-message-errors', errors: form.errors %}
		{% endif %}

		{% comment %}
			Form
		{% endcomment %}

		<div class="input-group input-password{% if form.errors %} input-group--error{% endif %}">
			<label for="password">{{ data.label }}</label>

			<div class="password-wrapper">
				<input type="password" 
					id="password" 
					name="password" 
					autocomplete="current-password"
					value="" 
					autofocus
					autocorrect="off" 
					autocapitalize="off" />
				<button type="button" class="btn input-password__reveal js-password-reveal">
					<span class="sr-only">Toggle Password Visibility</span>
				</button>
			</div>

			{% if form.errors %}
				<div class="input-subtext">
					{{ data.error_message }}
				</div>
			{% endif %}
		</div>

		<button type="submit" class="btn btn--primary">
			{{ data.button_text }}
		</button>
	{%- endform -%}

</div>

{% schema %}
{
    "name": "Password Page",
	"tag": "article",
	"class": "password",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title", 
            "default": "Password Protected"
        },
        {
            "type": "richtext",
            "id": "description", 
            "label": "Description", 
            "default": "<p>This store is password protected. Use the password to enter the store.</p>"
        },
        {
            "type": "text",
            "id": "label",
            "label": "Password Label", 
            "default": "Password"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Password Button Text", 
            "default": "Log In"
        },
        { 
            "type": "richtext", 
            "id": "error_message", 
            "label": "Password Error Message", 
            "default": "<p>Password incorrect, please try again.</p>"
        }, 
		{
            "type": "header",
            "content": "Images"
        },
		{
            "type": "paragraph",
            "content": "If no desktop image is specified, the mobile image will display for both mobile and desktop."
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile/Universal Image"
        },
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Desktop Image"
        }
    ]
}
{% endschema %}